.productContainer{
    margin-top: -60px;
    margin: auto;
    display: flex;
    /* width:100vw */
   
}
.img  
{  
    justify-content: center;
    width: 90% ;
};

.slick-cloned { 
    display: none !important; 
}
.slick-list {
    padding: 0 !important;
  }


 