.social-container {
    /* margin-top: 400px; */
    
    justify-content: center;
    background-color:#f2ab85;
    padding: 25px 50px;
    /* width: 100%; */
    margin-top: "100px";
    padding-top: "30px";
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.youtube {
    color: #eb3223;
    margin-left: 570px;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  .cp-text{
       color: rgba(0,0,0,.7); 
       text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    margin-left: 500px;
    margin-top: "40px";
    font-weight: bold;
  }